[Unit]
Description=Garmor Daemon
After=network.target

[Service]
Type=simple
Environment="DISPLAY=:0"
ExecStart=/usr/bin/garmord
Restart=on-failure
User=root
Group=root
RuntimeDirectory=garmor
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
