[Desktop Entry]
Name=Entori AI
Exec=/usr/bin/5a1b64d8-6fea-4d4c-98c9-a9e7e7611782.AppImage  --no-sandbox
Icon=/etc/entori-aiassets/icons.png
Type=Application
Categories=Utility;
Terminal=false
