name: Entori Workflow

on:
  push:
    branches: [main]
  workflow_dispatch:
  
jobs:
  build-iso:
    runs-on: ubuntu-latest
    container:
      image: debian:latest
      volumes:
        - /proc:/proc
      options: --privileged
    name: Debian Live ISO Build

    steps:
      - name: Install dependencies
        run: |
          apt update
          apt install -y git sudo live-build

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure live-build
        run: |
          lb config --debian-installer live \
                    --distribution bookworm \
                    --archive-areas "main contrib non-free" \
                    --initramfs live-boot \
                    --mirror-bootstrap http://deb.debian.org/debian/ \
                    --mirror-chroot http://deb.debian.org/debian/ \
                    --mirror-binary http://deb.debian.org/debian/ \
                    --bootappend-live "boot=live components quiet splash"
                    
      - name: Build the ISO
        run: |
          lb build

      - name: Upload ISO artifact
        uses: actions/upload-artifact@v4
        with:
          name: debian-live-bookworm
          path: live-image-amd64.hybrid.iso
